:root {
    --toasterMargin: 12px;
    --toastWidth: 350px;
    --toastOpacity: .9;
    --z-index: 99999;
    --fontSize: 14px;
    --successBackground: #388E3C;
    --successTextColor: #fff;
    --errorBackground: #D32F2F;
    --errorTextColor: #fff;
    --warningBackground: #F57C00;
    --warningTextColor: #fff;
    --infoBackground: #0288D1;
    --infoTextColor: #fff;
}

.ztoaster {
    position: fixed;
}

.ztoaster-top-full {
    top: var(--toasterMargin);
    left: var(--toasterMargin);
    right: var(--toasterMargin);
}

.ztoaster-top-center {
    top: var(--toasterMargin);
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    width: var(--toastWidth);
}

.ztoaster-top-right {
    top: var(--toasterMargin);
    right: var(--toasterMargin);
}

.ztoaster-top-left {
    top: var(--toasterMargin);
    left: var(--toasterMargin);
}

.ztoaster-bottom-full {
    bottom: var(--toasterMargin);
    left: var(--toasterMargin);
    right: var(--toasterMargin);
}

.ztoaster-bottom-center {
    bottom: var(--toasterMargin);
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    width: var(--toastWidth);
}

.ztoaster-bottom-right {
    bottom: var(--toasterMargin);
    right: var(--toasterMargin);
}

.ztoaster-bottom-left {
    bottom: var(--toasterMargin);
    left: var(--toasterMargin);
}

.ztoast {
    position: relative;
    box-sizing: border-box;
    z-index: var(--z-index);
    width: var(--toastWidth);
    font-size: var(--fontSize);
    padding: 14px;
    border-radius: 4px;
    margin-bottom: 6px;
    display: none;
    opacity: var(--toastOpacity);
    gap: var(--toasterMargin);
    align-items: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-left: auto;
    margin-right: 0;
}

.ztoast:hover {
    opacity: 1;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.ztoaster-top-full .ztoast,
.ztoaster-bottom-full .ztoast {
    width: 100%;
}

.ztoast-success {
    background-color: var(--successBackground);
    color: var(--successTextColor);
}

.ztoast-error {
    background-color: var(--errorBackground);
    color: var(--errorTextColor);
}

.ztoast-info {
    background-color: var(--infoBackground);
    color: var(--infoTextColor);
}

.ztoast-warning {
    background-color: var(--warningBackground);
    color: var(--warningTextColor);
}

.ztoast-icon {
    font-size: 42px;
    text-align: center;
    min-width: 32px;
}

.ztoast-close {
    font-size: 16px;
    text-align: right;
    width: 20px;
    cursor: pointer;
    align-self: flex-start;
}

.ztoast-title {
    font-weight: bold;
    margin-bottom: 6px;
    opacity: 1;
}

.ztoast-content {
    opacity: 1;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: var(--toastOpacity);
    }
}

@keyframes fade-out {
    from {
        opacity: var(--toastOpacity);
    }

    to {
        opacity: 0;
    }
}
